.cabecalho {
  height: 100px;
  background-color:deepskyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: relaive;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vw;
  display: flex;
  flex-direction: column;
}

.box-menu {
  overflow: auto;
  position: relative;
  height: 500px;
  width: 1000px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px 5px #bebebe;
  padding-top: 50px;
  border-radius: 10px;
}

.box-menu2 {
  overflow: auto;
  position: relative;
  height: 500px;
  width: 1000px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px 5px #bebebe;
  padding-top: 50px;
  border-radius: 10px;
  margin-top: 50px;
}

.topo-box-menu {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.topo-box-menu2 {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.inputs-clientes {
  display: flex;
  padding-top: 25px;
  position: relative;
  
}

.inputs-livros {
  display: flex;
  padding-top: 25px;
  position: relative;
  
}

.fazer-reserva {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.fazer-reserva2 {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.select-reserva {
  display: flex;
  padding-top: 25px;
  position: relative;
  flex-direction: column;
}

.reserva {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.escolher-livro {
  margin-top: 10px;
}

.button-reservar {
  margin-top: 10px;
}

.tabela-reservas {
  margin-top: 30px;
}

.cancelar-reserva {
  margin-right: 10px;
}